<?xml version="1.0"?>
<connectionStrings>
  <add name="SiteSqlServer" connectionString="Data Source=apps-dev;Initial Catalog=appsosdev;Persist Security Info=True;User ID=dabes2;Password=GoBengals1!;"/>

  <!--
  <add name="SiteSqlServer" connectionString="Data Source=apps-dev;Initial Catalog=appsosdev;Persist Security Info=True;User ID=appsosdev;Password=applesauce;"/>
  <add name="SiteSqlServer" connectionString="Data Source=APPS-DB01;Initial Catalog=appsosbeta;Persist Security Info=True;User ID=appsos;Password=iUd1Lhv:uH~xdC29;"/>
  <add name="SiteSqlServer" connectionString="Data Source=APPS-DB01;Initial Catalog=appsos;Persist Security Info=True;User ID=appsos;Password=iUd1Lhv:uH~xdC29;"/>
  -->
</connectionStrings>

<!--<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>-->
