<?xml version="1.0"?>
<connectionStrings>
  <add name="SiteSqlServer" connectionString="Data Source=apps-dev;Initial Catalog=appsosdev;Persist Security Info=True;User ID=dabes2;Password=GoTester123!;"/>

</connectionStrings>

<!--<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>-->
